<!DOCTYPE html>
<html>
  <head>
    <title>Feeds</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/application.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class=container>
      <header>
        <h1> A Job Board to rule them all</h1>
        <hr>
      </header>
      {{{content}}}
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
